* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body,
html {
    height: 100%;
}


.bg {
    background: url('img/img11.png') center / cover no-repeat;
    height: 100vh;
    width: 100%;
}

.bg:nth-child(2) {
    background: url('img/img7.png') center / cover no-repeat;
    opacity: 0;
    transform: translate(-100%, 0px);
    transition: 1s;
}

.bg:nth-child(3) {
    background: url('img/img10.png') center / cover no-repeat;
    opacity: 0;
    transform: translate(-100%, 0px);
    transition: 1s;
}

.bg:nth-child(4) {
    background: url('img/img9.png') center / cover no-repeat;
    opacity: 0;
    transform: translate(-100%, 0px);
    transition: 1s;
}

.bg:nth-child(5) {
    background: url('img/img8.png') center / cover no-repeat;
    opacity: 0;
    transform: translate(-100%, 0px);
    transition: 1s;
}

.bg:nth-child(6) {
    background: url('img/img6.png') center / cover no-repeat;
    opacity: 0;
    transform: translate(-100%, 0px);
    transition: 1s;
}

.bg:nth-child(7) {
    background: url('img/img4.png') center / cover no-repeat;
    opacity: 0;
    transform: translate(-100%, 0px);
    transition: 1s;
}

.bg:nth-child(8) {
    background: url('img/img7.png') center / cover no-repeat;
    opacity: 0;
    transform: translate(-100%, 0px);
    transition: 1s;
}

.bg:nth-child(9) {
    background: url('img/img5.png') center / cover no-repeat;
    opacity: 0;
    transform: translate(-100%, 0px);
    transition: 1s;
}

.bg:nth-child(10) {
    background: url('img/img3.png') center / cover no-repeat;
    opacity: 0;
    transform: translate(-100%, 0px);
    transition: 1s;
}

.bg:nth-child(11) {
    background: url('img/img2.png') center / cover no-repeat;
    opacity: 0;
    transform: translate(-100%, 0px);
    transition: 1s;
}

.bg:nth-child(12) {
    background: url('img/img1.png') center / cover no-repeat;
    opacity: 0;
    transform: translate(-100%, 0px);
    transition: 1s;
}

.bg:nth-child(13) {
    background: url('img/end.png') center / cover no-repeat;
    opacity: 0;
    transform: translate(-100%, 0px);
    transition: 1s;
}

.bg.scroll {
    opacity: 1;
    transform: translate(0px, 0px);
}


.bg_white {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
}

.bg_content:nth-child(1) {
    opacity: 1;
    transform: translate(0px, 0px);
}

.bg_content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding-top: 50%;
    transform: translate(0px, -50%); */
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
}
